/* You can add global styles to this file, and also import other style files */

.logo {
  margin-right: 10px !important;
}

.ui.items>.item.selected {
  border: 2px solid salmon;
  border-radius: 5px;
  padding: 10px;
}
